// COLORS

$background: #e5e5e5;
$background-dark: #444444;
$accent: #cd7d60;

$text-color: #231f20;

$header-color: #121212;
$text-dark: #454545;
$text-light: #929292;
$text-title: #eee;
$text-white: #e5e5e5;
$magnify: #747474;
