.art
  width: 100%
  margin: 0
  padding: 0
  background: $background-dark
  position: relative
  z-index: 300

.artwork
  width: 90%
  padding: 5%

  h1
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    color: $text-light
    display: inline

  h2
    font-size: 13px
    font-weight: normal
    text-transform: lowercase
    color: $text-light
    display: inline
    margin-left: 10px

  img
    width: 100%

.composite-container
  width: 90vw
  height: 90vw
  overflow: hidden

.composite-draggable
  width: 1000px !important

.artwork-extras
  display: flex
  flex-direction: row
